.product-actions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .product-actions-add-button {
    padding: 0.75rem 1rem;
    border: none;
    background: $color-accent;
    color: white;
    border-radius: $radius-md;
    cursor: pointer;
    width: 100%;
    max-width: 8rem;
    align-self: flex-end;
    font-size: $font-size-base;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
