.product-list-container {
  background-color: $color-bg;
  padding: 0 2rem;

  .product-list-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .product-list-searchBar {
    max-width: 20rem;
    align-self: flex-end;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .product-list-notFound {
    width: 100%;
    grid-column: 1 / -1;
  }
}