.selector-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .selector-label {
    font-weight: 700;
    font-size: $font-size-sm-base;
  }

  .selector-select {
    padding: 0.4rem .5rem;
    border: 1px solid #d0d0d0;
    border-radius: $radius-md;
    outline: none;
    font-size: $font-size-sm-base;
    cursor: pointer;

    &:hover {
      border-color: $color-border;
    }

    &:focus-within {
      border-color: $color-accent;
    }

    option {
      background: $color-surface;
      color: $color-text;
    }

    option:checked {
      font-weight: 700;
    }
  }
}
