.product-details-card {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.25rem 0;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
  }

  .product-details-card-label {
    font-weight: 700;
    margin-right: 0.3rem;
  }
}
